<div class="painting">
  <h4>Painting #<%= painting.id %></h4>

  <div class="frame">
    <% if painting.color? %>
      <div class="inside" style="background-color: <%= painting.color %>">
        <%= painting.color %>
      </div>
    <% else %>
      <div class="inside">
        Painting being painted, wait a few seconds…
      </div>
    <% end %>
  </div>
</div>
